body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.principal{
    display: flex;
    justify-content: center;
}

/*
    parte vermalha de tras do simbolo (margem vermelha)
    z-index = 0
*/
.div1{
    position: absolute;
    top: 200px;
    z-index: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    border-top: 400px solid red;
}
.div2{
    position: absolute;
    top: -20px;
    z-index: 0;
    width: 400px;
    height: 119px;
    border-top: 1px solid transparent;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid red;
}

/*
    parte amarela de tras (background)
    z-index = 1
*/
.div3{
    position: absolute;
    top: 200px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-right: 285px solid transparent;
    border-left: 285px solid transparent;
    border-top: 380px solid yellow;
}
.div4{
    position: absolute;
    top: -100px;
    z-index: 1;
    width: 390px;
    height: 120px;
    border-top: 90px solid transparent;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-bottom: 90px solid yellow;
}


/*
    elipse vermelha (parte de cima do 'S')
    Z-index = 2
*/
.div5{
    position: absolute;
    z-index: 2;
    top: 100px;
    border-radius: 50%;
    background: red;
    width: 470px;
    height: 300px;
}

/*
    elipse amarela (parte amarela do centro superior do 'S')
    Z-index = 3
*/
.div6{
    position: absolute;
    z-index: 3;
    top: 140px;
    border-radius: 50% 50% 0 50%;
    width: 250px;
    height: 100px;
    background: yellow;
}


.div7{
    position: absolute;
    top: 320px;
    z-index: 2;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-right: 195px solid transparent;
    border-left: 195px solid transparent;
    border-top: 260px solid yellow;
}

/*cabeça do "S"*/
.div8{
  background-color: red;
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  top: 110px;
  left: 350px;
}

.div9{
    position: relative;
    z-index: 3;
    top: 190px;
    left: 145px;
    background: yellow;
    width: 200px;
    height: 130px;

}

/*triandigo amarelo no canto */
.div10{
    position: relative;
    z-index: 3;
    left: 145px;
    top: 110px;
    width: 0;
    height: 0;
    border-bottom: 120px solid transparent;
    border-right: 90px solid transparent;
    border-top: 90px solid transparent;
    border-left: 90px solid yellow;
}

/*parte central do "S"*/
.div11{
    position:absolute;
    z-index: 7;
    top: 240px;
    width: 395px;
    height: 150px;
    background: red;
    border-radius: 50%;
}

/*pé do "S"*/
.div12{
    background: red;
    position: absolute;
    z-index: 6;
    left: 560px;
    top: 410px;
    width: 80px;
    height: 50px;
    border-radius: 50%;
}

/*Parte de baixo do "S"*/
.div13{
    background: red;
    position: absolute;
    z-index: 5;
    top: 430px;
    width: 200px;
    height: 50px;
    border-radius: 40%;
}

.div14{
    position: absolute;
    z-index: 4;
    right: 370px;
    top: 340px;
    width: 0;
    height: 0;
    border-bottom: 140px solid transparent;
    border-right: 120px solid transparent;
    border-top: 0px solid transparent;
    border-left: 105px solid red;
}

.div15{
    background: yellow;
    position: absolute;
    z-index: 5;
    top: 389px;
    right: 590px;
    width: 100px;
    height: 41px;
    border-radius: 50%;
}

.div16{
    background: red;
    position: absolute;
    right: 570px;
    top: 370px;
    z-index: 4;/*4*/
    width: 70px;
    height: 80px;
}