* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
}

.bgRed,
.bgYellow {
    display: flex;
    flex-direction: column;
}

/*parte vermalha de tras do simbolo (margem vermelha) z-index = 0*/
.bgRed {
    z-index: 0;
}

.div1,
.div2 {
    position: relative;
}

.div1 {
    border-top: 1px solid transparent;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 90px solid red;
}

.div2 {
    width: 0;
    height: 0;
    border-bottom: 1px solid transparent;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-top: 250px solid red;
}

/*parte amarela de tras (background)    z-index = 1*/
.bgYellow {
    z-index: 1;
}

.div3,
.div4 {
    position: relative;
}

.div3 {
    border-top: 1px solid transparent;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-bottom: 80px solid yellow;
}
.div4 {
    border-bottom: 1px solid transparent;
    border-right: 190px solid transparent;
    border-left: 190px solid transparent;
    border-top: 240px solid yellow;
}

/*elipse vermelha (parte de cima do 'S')    Z-index = 2*/

.div5 {
    position: relative;
    z-index: 2;
    top: -50px;
    border-radius: 50%;
    background: red;
    width: 300px;
    height: 230px;
}

/*elipse amarela (parte amarela do centro superior do 'S')  Z-index = 3*/

.div6 {
    position: relative;
    z-index: 3;
    top: -90px;
    border-radius: 50% 50% 0 50%;
    width: 170px;
    height: 90px;
    background: yellow;
    left: -15px;
}
/*triangulo amarelo inferior*/
.div7 {
    position: relative;
    top: 92px;
    z-index: 2;
    border-bottom: 1px solid transparent;
    border-right: 110px solid transparent;
    border-left: 110px solid transparent;
    border-top: 140px solid yellow;
}

/*cabeça do "S"*/

.div8 {
    background-color: red;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 60px;
    top: -132px;
    left: 85px;
}

.div9 {
    position: relative;
    z-index: 3;
    top: -60px;
    left: 70px;
    background: yellow;
    width: 140px;
    height: 80px;
}

/*triandigo amarelo no canto*/
.div10 {
    position: relative;
    z-index: 3;
    left: 190px;
    top: -62px;
    width: 0;
    height: 0;
    border-bottom: 115px solid transparent;
    border-right: 90px solid transparent;
    border-top: 80px solid transparent;
    border-left: 90px solid yellow;
}

/*parte central do "S"*/
.div11 {
    position: relative;
    z-index: 7;
    top: 5px;
    width: 250px;
    height: 100px;
    background: red;
    border-radius: 50%;
}
/*Parte de baixo do "S"*/
.div12 {
    background: red;
    position: absolute;
    z-index: 5;
    top: 86px;
    left: -51px;
    width: 103px;
    height: 30px;
    border-radius: 0 0 45% 45%;
}

.div13 {
    background: red;
    position: absolute;
    right: 0;
    left: 20px;
    border-radius: 0 0 10px 0;
    top: 48px;
    z-index: 4;
    width: 40px;
    height: 50px;
}

.div14 {
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 49px;
    border-bottom: 90px solid transparent;
    border-right: 60px solid transparent;
    border-top: 0;
    border-left: 70px solid red;
}

.div15 {
    background: yellow;
    position: relative;
    z-index: 5;
    top: 70px;
    left: 22px;
    width: 90px;
    height: 32px;
    border-radius: 50%;
}

/*pé do "S"*/
.div16 {
    background: red;
    position: relative;
    z-index: 6;
    right: 20px;
    top: 90px;
    width: 70px;
    height: 50px;
    border-radius: 50%;
}
